<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='/img/monogram-verde-hq.png')}}">
    <title>Login Orac</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/login.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/uikit/uikit.min.css')}}" />
    <script src=" {{url_for('static', filename='/js/login.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/uikit/uikit-icons.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/uikit/uikit.min.js')}}"></script>

    <!-- Alteração do B.O do Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<html>

<body>
    {% block body %}
    {% endblock body %}

    <div id="loading-overlay" class="uk-position-fixed uk-position-cover uk-flex uk-flex-center uk-flex-middle"
        style="background: rgba(0,0,0,0.5); display: none; z-index: 9999;">
        <div uk-spinner="ratio: 3"></div>
    </div>
</body>

{% block scripts %}
{% endblock scripts %}

</html>

<!-- Tirei aqui também pois estava dupllicado -->