{% extends "base.html"%}

{% block titleCss %}
<title>Atendimento - Orac</title>
<link rel="stylesheet" href="{{url_for('static', filename='/css/cadastro.css')}}" />
{% endblock titleCss %}

{% block body %}
<main>

  <!-- Faixa verde -->
  <div class="faixa">
    <div class="titulo">
      <h1>Cadastro</h1>
      <p>Exibindo <span id="expCount"></span> <span id="tipoListagem"></span></p>
    </div>
    <div class="faixa-right">
      <div class="tipo-lista">
        <label for="tipoLista">Tipo</label>
        <select id="tipoLista">
          <option value="clientes">Clientes</option>
          <option value="usuarios">Usuários</option>
          <option value="exames">Exames</option>
        </select>
      </div>

      <div class="itens-por-pagina">
        <label for="ipp">Itens/página</label>
        <select id="ipp">
          <option>20</option>
          <option>50</option>
          <option>100</option>
        </select>
      </div>

      <button id="btnFiltro" class="icon-btn" title="Filtros" uk-toggle="target: #filtro-modal-cadastro">
        <img src=" {{ url_for('static' ,filename='/img/icons/filter.png')}}" alt="Filtros">
      </button>
      <button id="btnExportar" class="icon-btn" title="Exportar" uk-toggle="target: #exportar-modal">
        <img src=" {{ url_for('static' ,filename='/img/icons/export.png')}}" alt="Exportar">
      </button>
      <button id="btnNovo" class="icon-btn" title="Novo cadastro" uk-toggle="target: #modal-cadastro">
        <img src=" {{ url_for('static' ,filename='/img/icons/plus.png')}}" alt="Novo">
      </button>
    </div>
  </div>

  <!-- Tabela -->
  <section class="tabela-wrap">
    <table id="tblCad">
      <thead id="theadCad"></thead>
      <tbody id="tbodyCad">
      </tbody>
    </table>

    <div class="paginacao">
      <button id="prev" class="btn cinza">
        <img src="{{ url_for('static' ,filename='/img/icons/arrow_esquerda.png')}}" class="icon-paginacao"
          alt=""><span>Anterior</span>
      </button>
      <span id="pinfo">Página 1 de 1</span>
      <button id="next" class="btn cinza">
        <span>Próxima</span><img src="{{ url_for('static' ,filename='/img/icons/arrow.png')}}" class="icon-paginacao"
          alt="">
      </button>
    </div>
  </section>
</main>

<!-- Modal Cadastro -->
<div id="modal-cadastro" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body modal-body-cadastro">
    <div class="modal-container-cadastro">

      <!-- botão fechar -->
      <button class="uk-modal-close-default" type="button" uk-close></button>

      <!-- título -->
      <h2 class="uk-modal-title">Novo cadastro</h2>
      <hr>

      <!-- corpo -->
      <form id="formCadastro" autocomplete="off" class="grid-cadastro">

        <!-- ======= USUÁRIOS ======= -->
        <div class="input-label hidden" data-for="usuarios">
          <label for="nome_usuario">Nome</label>
          <input id="nome_usuario" type="text" placeholder="Nome completo">
        </div>

        <div class="input-label hidden" data-for="usuarios">
          <label for="email_usuario">E-mail</label>
          <input id="email_usuario" type="email" placeholder="email@exemplo.com">
        </div>

        <div class="input-label hidden" data-for="usuarios">
          <label for="senha">Senha</label>
          <input id="senha" type="password" placeholder="••••••••">
        </div>

        <div class="input-label hidden" data-for="usuarios">
          <label for="role">Perfil</label>
          <select id="role">
            <option value="usuario">Usuário</option>
            <option value="gestor">Gestor</option>
            <option value="administrador">Administrador</option>
          </select>
        </div>

        <div class="input-label hidden" data-for="usuarios">
          <label for="foto">Foto</label>
          <input id="foto" type="file" accept="image/*" placeholder="Foto do usuário">
        </div>

        <!-- ======= CLIENTES ======= -->
        <div class="input-label hidden" data-for="clientes">
          <label for="cnpj_cliente">CNPJ do cliente</label>
          <div class="input-wrapper">
            <input id="cnpj_cliente" type="text" placeholder="00.000.000/0000-00">
            <button id="pesquisar_cnpj" type="button">
              <img src="{{ url_for('static', filename='/img/icons/search.png') }}" alt="Pesquisar">
            </button>
          </div>
        </div>

        <div class="input-label hidden" data-for="clientes">
          <label for="nome_cliente">Nome do cliente</label>
          <input id="nome_cliente" type="text" placeholder="Razão/Nome">
        </div>

        <div class="input-label hidden" data-for="clientes">
          <label for="tipo_cliente">Tipo do cliente</label>
          <select id="tipo_cliente">
            <option value="cliente">Cliente</option>
            <option value="credenciado">Credenciado</option>
            <option value="servico_prestado">Serviço Prestado</option>
            <option value="particular">Particular</option>
          </select>
        </div>

        <div class="input-label hidden" data-for="clientes">
          <label for="exames-select">Exames Inclusos</label>
          <select multiple multiselect-search="true" multiselect-select-all="true"
            class="modal-tipoCl-filtro-multiselect-dropdown" id="exames-select">
          </select>
        </div>

        <!-- ======= EXAMES ======= -->
        <div class="input-label hidden" data-for="exames">
          <label for="nome_exame">Nome do exame</label>
          <input id="nome_exame" type="text" placeholder="Ex.: Audiometria">
        </div>

        <div class="input-label hidden" data-for="exames">
          <label for="is_interno">Interno?</label>
          <select id="is_interno">
            <option value="1">Sim</option>
            <option value="0">Não</option>
          </select>
        </div>

        <div class="input-label hidden" data-for="exames">
          <label for="valor_exame">Valor (R$)</label>
          <input id="valor_exame" type="number" step="0.01" min="0" placeholder="0,00">
        </div>

        <!-- footer -->
        <div class="modal-footer">
          <button class="btn cinza" type="button" uk-toggle="target: #modal-cadastro">Voltar</button>
          <button class="btn verde" id="button-cadastro" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Filtros -->
<div id="filtro-modal-cadastro" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body modal-body-filtros">
    <div class="modal-container-filtros">
      <!-- botão fechar -->
      <button class="uk-modal-close-default" type="button" uk-close></button>

      <!-- título -->
      <h2 class="uk-modal-title">Filtros</h2>
      <hr>

      <!-- corpo -->
      <form id="formFiltros" class="grid-filtros">

        <!-- Exemplo de campo -->
        <div class="input-label hidden" data-for="usuarios">
          <label for="nome_usuario_filtro">Nome</label>
          <input id="nome_usuario_filtro" type="text">
        </div>

        <div class="input-label hidden" data-for="usuarios">
          <label for="email_usuario_filtro">E-mail</label>
          <input id="email_usuario_filtro" type="text">
        </div>

        <div class="input-label hidden" data-for="usuarios">
          <label for="role_filtro">Perfil</label>
          <select id="role_filtro">
            <option value="">Todos</option>
            <option value="administrador">Administrador</option>
            <option value="gestor">Gestor</option>
            <option value="usuario">Usuário</option>
          </select>
        </div>

        <!-- Clientes -->
        <div class="input-label" data-for="clientes">
          <label for="nome_cliente_filtro">Nome</label>
          <input id="nome_cliente_filtro" type="text">
        </div>
        <div class="input-label" data-for="clientes">
          <label for="cnpj_cliente_filtro">CNPJ</label>
          <input id="cnpj_cliente_filtro" type="text">
        </div>

        <div class="input-label" data-for="clientes">
          <label for="tipo_cliente_filtro">Tipo do Cliente</label>
          <select multiple multiselect-search="true" multiselect-select-all="true"
            class="modal-tipoCl-filtro-multiselect-dropdown" id="tipo_cliente_filtro">
            <option value="cliente">Cliente</option>
            <option value="credenciado">Credenciado</option>
            <option value="servico_prestado">Serviço Prestado</option>
            <option value="particular">Particular</option>
          </select>
        </div>

        <div class="input-label" data-for="clientes">
          <label for="exames-cliente">Exames</label>
          <select multiple multiselect-search="true" multiselect-select-all="true"
            class="modal-exames-multiselect-dropdown" id="exames-cliente">
          </select>
        </div>

        <!-- Exames -->
        <div class="input-label hidden" data-for="exames">
          <label for="nome_exame_filtro">Nome do exame</label>
          <input id="nome_exame_filtro" type="text">
        </div>
        <div class="input-label hidden" data-for="exames">
          <label for="is_interno_filtro">Interno?</label>
          <select id="is_interno_filtro">
            <option value="">Todos</option>
            <option value="1">Sim</option>
            <option value="0">Não</option>
          </select>
        </div>
        <div class="input-label hidden" data-for="exames">
          <label for="min_valor_filtro">Valor mín.</label>
          <input id="min_valor_filtro" type="number" step="0.01" min="0">
        </div>
        <div class="input-label hidden" data-for="exames">
          <label for="max_valor_filtro">Valor máx.</label>
          <input id="max_valor_filtro" type="number" step="0.01" min="0">
        </div>

        <!-- footer -->
        <div class="modal-footer">
          <button id="filtrosLimparCad" class="btn cinza" type="button">Limpar</button>
          <button id="filtrosAplicarCad" class="btn verde" type="button">Aplicar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Detalhamento Cliente -->
<div id="cliente-modal" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body modal-body">
    <div class="modal-container">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h2 class="uk-modal-title" id="modal-id-cliente-tr"></h2>
      <hr>
      <div class="cliente-modal-div">
        <div class="cliente-input-label">
          <label for="modal-nome-cliente-tr">Nome</label>
          <input id="modal-nome-cliente-tr" name="modal-nome-cliente-tr" class="div1" disabled></input>
        </div>
        <div class="cliente-input-label">
          <label for="modal-cnpj-cliente-tr">CNPJ</label>
          <input id="modal-cnpj-cliente-tr" name="modal-cnpj-cliente-tr" class="div2" disabled></input>
        </div>
        <div class="cliente-input-label">
          <label for="modal-tipo-cliente-tr">Tipo de Cliente</label>
          <select id="modal-tipo-cliente-tr" name="modal-tipo-cliente-tr" class="div3" disabled>
            <option value="Cliente">Cliente</option>
            <option value="Credenciado">Credenciado</option>
            <option value="Serviço Prestado">Serviço Prestado</option>
            <option value="Particular">Particular</option>
          </select>
        </div>
        <div class="cliente-input-label" id="cliente-multiselect-exames">
          <label for="modal-exames-cliente-tr">Exames</label>
          <select multiple multiselect-search="true" multiselect-select-all="true"
            class="modal-exames-multiselect-dropdown" id="modal-exames-cliente-tr" disabled>
          </select>
        </div>
      </div>
      <div class="cliente-modal-footer">
        <button class="btn vermelho" id="button-excluir-cliente" uk-toggle="target: #confirmacao-modal">Excluir</button>
        <button class="btn verde" id="button-editar-cliente">Editar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Detalhamento Usuario -->
<div id="usuario-modal" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body modal-body">
    <div class="modal-container">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h2 class="uk-modal-title" id="modal-id-usuario-tr"></h2>
      <hr>
      <div class="cliente-modal-div">
        <div class="cliente-input-label">
          <label for="modal-nome-usuario-tr">Nome</label>
          <input id="modal-nome-usuario-tr" type="text" name="modal-nome-usuario-tr" class="div1" disabled></input>
        </div>
        <div class="cliente-input-label">
          <label for="modal-tipo-usuario-tr">Perfil</label>
          <select id="modal-tipo-usuario-tr" name="modal-tipo-usuario-tr" class="div2" disabled>
            <option value="Usuario">Usuario</option>
            <option value="Gestor">Gestor</option>
            <option value="Administrador">Administrador</option>
          </select>
        </div>
        <div class="cliente-input-label">
          <label for="modal-email-usuario-tr">Email</label>
          <input id="modal-email-usuario-tr" type="email" name="modal-email-usuario-tr" class="div3" disabled></input>
        </div>
        <div class="cliente-input-label">
          <label for="modal-foto-usuario-tr">Foto</label>
          <input id="modal-foto-usuario-tr" type="file" name="modal-foto-usuario-tr" class="div4" accept="image/*"
            placeholder="Foto do usuário" disabled></input>
        </div>
      </div>
      <div class="cliente-modal-footer">
        <button class="btn vermelho" id="button-excluir-usuario" uk-toggle="target: #confirmacao-modal">Excluir</button>
        <button class="btn verde" id="button-editar-usuario">Editar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Detalhamento Exame -->
<div id="exame-modal" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body modal-body">
    <div class="modal-container">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h2 class="uk-modal-title" id="modal-id-exame-tr"></h2>
      <hr>
      <div class="cliente-modal-div">
        <div class="cliente-input-label">
          <label for="modal-nome-exame-tr">Nome</label>
          <input id="modal-nome-exame-tr" type="text" name="modal-nome-exame-tr" class="div1" disabled></input>
        </div>
        <div class="cliente-input-label">
          <label for="modal-is_interno-exame-tr">Interno</label>
          <select id="modal-is_interno-exame-tr" name="modal-is_interno-exame-tr" class="div2" disabled>
            <option value="Sim">Sim</option>
            <option value="Não">Não</option>
          </select>
        </div>
        <div class="cliente-input-label">
          <label for="modal-valor-exame-tr">Valor</label>
          <input id="modal-valor-exame-tr" type="number" name="modal-valor-exame-tr" class="div3" disabled></input>
        </div>
      </div>
      <div class="cliente-modal-footer">
        <button class="btn vermelho" id="button-excluir-exame" uk-toggle="target: #confirmacao-modal">Excluir</button>
        <button class="btn verde" id="button-editar-exame">Editar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Confirmação exclusão -->
<div id="confirmacao-modal" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body modal-body">
    <div class="modal-container">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h2 class="uk-modal-title">Exclusão</h2>
      <hr>
      <div class="exclusao-modal-div">
        <div class="exclusao-texto">
        </div>
      </div>
      <div class="exclusao-modal-footer">
        <button class="btn cinza" id="cancelar-exclusao">Cancelar</button>
        <button class="btn vermelho" id="confirmar-exclusao">Excluir</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Exportar -->
<div id="exportar-modal" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body modal-body">
    <div class="modal-container">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h2 class="uk-modal-title">O que deseja exportar?</h2>
      <hr>
      <div class="exportar-modal-div">
        <button id="exportXls" class="export-tile" aria-label="Exportar CSV">
          <img src="{{url_for('static', filename='/img/icons/xls.png')}}" alt="">
          <span>Excel</span>
        </button>
        <button id="exportTxt" class="export-tile" aria-label="Exportar TXT">
          <img src="{{url_for('static', filename='/img/icons/txt.png')}}" alt="">
          <span>TXT</span>
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock body %}

{% block scripts %}
<script src="{{ url_for('static' ,filename='/js/cadastro/carregar.js')}}" defer></script>
<script src="{{url_for('static', filename='/js/multiselect-dropdown.js')}}"></script>
{% endblock scripts %}


</html>