{% extends "base.html"%}

{% block titleCss %}
<title>Atendimento - Orac</title>
<link rel="stylesheet" href="{{url_for('static', filename='/css/relatorio.css')}}" />
{% endblock titleCss %}

{% block body %}
<main>
  <!-- Faixa verde com título e ícones -->
  <div class="faixa">
    <div class="titulo">
      <h1>Relatório</h1>
      <p>Exibindo <span id="expCount"></span> Atendimentos <span id="valorTotal" class="valor-total"></span></p>
    </div>
    <div class="faixa-right">
      <div class="itens-por-pagina">
        <label for="ipp">Itens/página</label>
        <select id="ipp">
          <option>20</option>
          <option>50</option>
          <option>100</option>
        </select>
      </div>

      <button id="btnFiltro" class="icon-btn" title="Filtros" uk-toggle="target: #filtro-modal-atendimentos">
        <img src="{{url_for('static', filename='/img/icons/filter.png')}}" alt="Filtros">
      </button>
      <button id="btnExportar" class="icon-btn" title="Exportar" uk-toggle="target: #exportar-modal">
        <img src="{{url_for('static', filename='/img/icons/export.png')}}" alt="Exportar">
      </button>
    </div>
  </div>

  <!-- Tabela -->
  <section class="tabela-wrap">
    <table id="tbl">
      <thead>
        <tr>
          <th data-sort="id_atendimento" class="ordenavel">Id</th>
          <th data-sort="data_atendimento" class="ordenavel">Data</th>
          <th data-sort="nome_cliente" class="ordenavel">Empresa</th>
          <th data-sort="colaborador_atendimento" class="ordenavel">Colaborador</th>
          <th data-sort="tipo_cliente" class="ordenavel">Tipo Cliente</th>
          <th data-sort="tipo_atendimento" class="ordenavel">Tipo Atendimento</th>
          <th>Exames</th>
          <th data-sort="valor" class="num ordenavel">Valor</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <div class="paginacao">
      <button id="prev" class="btn cinza"><img src="{{url_for('static', filename='/img/icons/arrow_esquerda.png')}}"
          class="icon-paginacao" alt="Seta para direita"><span>Anterior</span></button>
      <span id="pinfo">Página 1 de 1</span>
      <button id="next" class="btn cinza"><span>Próxima</span><img
          src="{{url_for('static', filename='/img/icons/arrow.png')}}" class="icon-paginacao"
          alt="Seta para direita"></button>
    </div>
  </section>
</main>

<!-- Modal Detalhamento Relatório -->
<div id="atendimento-modal" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body modal-body-atendimento">
    <div class="modal-container">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h2 class="uk-modal-title" id="modal-id-atendimento-tr"></h2>
      <hr>
      <div class="grid-detalhamento">
        <div class="atendimento-input-label">
          <label for="modal-data-atendimento-tr">Data</label>
          <input id="modal-data-atendimento-tr" name="modal-data-atendimento-tr" disabled></input>
        </div>
        <div class="atendimento-input-label">
          <label for="modal-empresa-atendimento-tr">Empresa</label>
          <input id="modal-empresa-atendimento-tr" name="modal-empresa-atendimento-tr" disabled></input>
        </div>
        <div class="atendimento-input-label">
          <label for="modal-usuario-atendimento-tr">Usuário</label>
          <input id="modal-usuario-atendimento-tr" name="modal-usuario-atendimento-tr" disabled></input>
        </div>
        <div class="atendimento-input-label">
          <label for="modal-colaborador-atendimento-tr">Colaborador</label>
          <input id="modal-colaborador-atendimento-tr" name="modal-colaborador-atendimento-tr" disabled></input>
        </div>
        <div class="atendimento-input-label">
          <label for="modal-status-tr">Status</label>
          <select id="modal-status-tr" name="modal-status-tr" disabled>
            <option value="Ativa">Ativo</option>
            <option value="Cancelada">Cancelado</option>
          </select>
        </div>
        <div class="atendimento-input-label">
          <label for="modal-tipo-cliente-tr">Tipo de Cliente</label>
          <select id="modal-tipo-cliente-tr" name="modal-tipo-cliente-tr" disabled>
            <option value="Cliente">Cliente</option>
            <option value="Credenciado">Credenciado</option>
            <option value="Serviço Prestado">Serviço Prestado</option>
            <option value="Particular">Particular</option>
          </select>
        </div>
        <div class="atendimento-input-label">
          <label for="modal-tipo-atendimento-tr">Tipo de atendimento</label>
          <select id="modal-tipo-atendimento-tr" name="modal-tipo-atendimento-tr" disabled>
            <option value="Admissional">Admissional</option>
            <option value="Demissional">Demissional</option>
            <option value="Periódico">Periódico</option>
            <option value="Mudança de Função">Mudança de Função</option>
            <option value="Retorno ao Trabalho">Retorno ao Trabalho</option>
            <option value="Outros">Outros</option>
          </select>
        </div>
        <div class="atendimento-input-label">
          <label for="modal-valor-atendimento-tr">Valor</label>
          <input id="modal-valor-atendimento-tr" type="number" name="modal-valor-atendimento-tr" disabled></input>
        </div>
        <div class="atendimento-input-label" id="atendimento-multiselect-exames">
          <label for="modal-exames-atendimento-tr">Exames</label>
          <select multiple multiselect-search="true" multiselect-select-all="true"
            class="modal-exames-multiselect-dropdown" id="modal-exames-atendimento-tr" disabled>
          </select>
        </div>
        <div class="atendimento-input-label-checkbox">
          <label for="modal-valor-manual-tr">Deseja trocar o valor manualmente?</label>
          <input class="uk-checkbox" type="checkbox" id="modal-valor-manual-tr" name="modal-valor-manual-tr" disabled>
        </div>
        <div class="atendimento-modal-footer">
          <button class="btn" id="button-excluir-atendimento" disabled>Cancelar</button>
          <button class="btn verde" id="button-editar-atendimento">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Filtro -->
<div id="filtro-modal-atendimentos" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body modal-body-filtros">
    <div class="modal-container-filtros">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h2 class="uk-modal-title">Filtros</h2>
      <hr>
      <div class="grid-filtros">
        <div class="input-label">
          <label for="data_min">Data Mínima</label>
          <input id="data_min" name="data_min" type="date"></input>
        </div>
        <div class="input-label">
          <label for="data_max">Data Máxima</label>
          <input id="data_max" name="data_max" type="date"></input>
        </div>
        <div class="input-label">
          <label for="empresas">Empresas</label>
          <select multiple multiselect-search="true" multiselect-select-all="true"
            class="modal-empresas-filtro-multiselect-dropdown" id="empresas">
          </select>
        </div>
        <div class="input-label">
          <label for="usuario">Usuário</label>
          <input id="usuario" name="usuario" type="text"></input>
        </div>
        <div class="input-label">
          <label for="colaborador">Colaborador</label>
          <input id="colaborador" name="colaborador" type="text"></input>
        </div>
        <div class="input-label">
          <label for="tipoCl">Tipo do Cliente</label>
          <select multiple multiselect-search="true" multiselect-select-all="true"
            class="modal-tipoCl-filtro-multiselect-dropdown" id="tipoCl">
            <option value="cliente">Cliente</option>
            <option value="credenciado">Credenciado</option>
            <option value="servico_prestado">Serviço Prestado</option>
            <option value="particular">Particular</option>
          </select>
        </div>
        <div class="input-label">
          <label for="tipoAt">Tipo de Atendimento</label>
          <select multiple multiselect-search="true" multiselect-select-all="true"
            class="modal-tipoAt-filtro-multiselect-dropdown" id="tipoAt">
            <option value="admissional">Admissional</option>
            <option value="demissional">Demissional</option>
            <option value="periodico">Periódico</option>
            <option value="mudanca_funcao">Mudança de Função</option>
            <option value="retorno_trabalho">Retorno ao Trabalho</option>
            <option value="outros">Outros</option>
          </select>
        </div>
        <div class="input-label">
          <label for="exames">Exames</label>
          <select multiple multiselect-search="true" multiselect-select-all="true"
            class="modal-exames-filtro-multiselect-dropdown" id="exames">
          </select>
        </div>
        <div class="input-label">
          <label for="status">Status</label>
          <select id="status">
            <option value="1">Ativos</option>
            <option value="0">Cancelados</option>
            <option value="">Todos</option>
          </select>
        </div>
        <div class="input-label">
          <label for="valor_min">Valor Mínimo</label>
          <input id="valor_min" name="valor_min" type="number"></input>
        </div>
        <div class="input-label">
          <label for="valor_max">Valor Máximo</label>
          <input id="valor_max" name="valor_max" type="number"></input>
        </div>
        <div class="modal-footer">
          <button class="btn vermelho" id="filtrosLimpar">Limpar</button>
          <button class="btn verde" id="filtrosAplicar">Aplicar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Exportar -->
<div id="exportar-modal" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body modal-body">
    <div class="modal-container">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <h2 class="uk-modal-title">O que deseja exportar?</h2>
      <hr>
      <div class="exportar-modal-div">
        <button id="exportXls" class="export-tile" aria-label="Exportar CSV">
          <img src="{{url_for('static', filename='/img/icons/xls.png')}}" alt="">
          <span>Excel</span>
        </button>
        <button id="exportTxt" class="export-tile" aria-label="Exportar TXT">
          <img src="{{url_for('static', filename='/img/icons/txt.png')}}" alt="">
          <span>TXT</span>
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock body %}

{% block scripts %}
<script src=" {{url_for('static', filename='/js/relatorio/atendimentos.js')}}" defer></script>
<script src="{{url_for('static', filename='/js/relatorio/clientes.js')}}" defer></script>
<script src="{{url_for('static', filename='/js/relatorio/exames.js ')}}" defer></script>
<script src="{{url_for('static', filename='/js/multiselect-dropdown.js')}}"></script>
{% endblock scripts %}


</html>